<div class="header-container">
  <!-- Logo -->
  <div class="logo">
    <img src="assets/logo2.png" alt="Friends of the Orphans Canada" />
  </div>

  <!-- Navigation Menu -->
  <nav class="nav-menu">
    <a  routerLink="about">ABOUT </a>
    <a routerLink="sponsorship">SPONSORSHIP </a>
    <a routerLink="project">PROJECTS </a>
    <a routerLink="donate">DONATE </a>
    <a routerLink="voluteer">VOLUNTEER</a>
    <a routerLink="faq">FAQ</a>
    <a routerLink="contact">CONTACT</a>
  </nav>

  <!-- Action Buttons -->
  <div class="buttons">
    <button class="donate-btn" routerLink="donate">✔ DONATE</button>
    <button class="sponsor-btn" routerLink="sponsorship">✔ SPONSOR CHILD</button>
  </div>
</div>


